* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1.5vh;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: black;
    font-family: "Neucha", sans-serif;
    font-size: larger;
    color: rgb(207, 207, 207);
    font-size: 3vh;
}

h1,
h2,
h3,
h3,
h4,
h5 {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

div {
    scroll-margin-top: 10vh;
}

img, video {
    max-width: 95%;
    height: auto;
}

table {
    max-width: 100%;
    height: auto;
    background-color: black;
    margin: 1vh;
    border: 0.1vh white solid;
    border-collapse: collapse;
}

table td, table th {
    text-align: center;
    border: 0.2vh white solid;
    padding: .5rem .75rem;
    vertical-align: middle;
}

thead {
    font-size: 3vh;
}

table caption {
    margin-bottom: 3vh;
}

pre {
    display: inline-block;
    max-width: 100%;
    padding: 0 1vh;
    margin: 1vh 0;
    border: 0.5vh rgb(78, 78, 78) double;
    border-left-color: rgb(236, 236, 236);
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 2.5vh
}

video {
    border: 0.2vh white solid;
    margin-bottom: 1vh;
}

hr {
    margin: 3vh 0;
    height: 0.3vh;
    background-color: #FFF;
}

.border {
    margin-top: 1vh;
    border: 0.2vh white solid;
}

.btn-up {
    position: fixed;
    background-color: #424242;
    right: 1vh;
    bottom: 0;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vh;
    height: 7vh;
    z-index: 100;
  }
  
.btn-up::before {
    content: "";
    width: 10vh;
    height: 10vh;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

.menu-but {
    display: none;
    border: none;
    cursor: pointer;
    width: 7vh;
    margin: 1vh 0 0 1vh;
}

.menu-but img {
    border-radius: 0;
    pointer-events: none;
    display: block;
    width: 100%;
}


.sidebar {
    position: sticky;
    top: 0;
    width: 17%;
    min-width: 25vh;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    border-right: 0.1vh solid white;
    border-bottom: 0.1vh solid white;
    padding: 1vh 0 0;
}

.sidebar #logo {
    transition: 100ms;
    margin-top: 1vh;
    margin-left: 5%;
    max-width: 70%;
}


ul {
    list-style-type: circle;
    padding: 1vh 3vh;
}

li b {
    color: white;
}

.sidebar ul {
    padding: 5%;
    list-style-type: none;
}
.sidebar li {
    background-color: rgb(41, 41, 41);
    margin: 10% 10% 0 0;
    padding: 5% 0 5% 3%;
    transition: 100ms;
}

.sidebar li:not(#active):hover, .sidebar #logo:hover {
    cursor: pointer;
    filter: brightness(90%);
    transform: scale(1.05);
}

.sidebar a:active,
.sidebar a:hover,
.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar #active {
    border: 0.3vh white dashed;
}

.wrapper {
    width: 83%;
    padding-left: 1vh;
}

#main-content p {
    margin: 2vh 0 2vh 0;
}
.center {
    display: flex;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}

.main-img-container {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.main-img {
    width:70%;
    border: 0.2vh solid gray;
}

.footer-main {
    padding: 1vh 0 1vh 0;
    text-align: center;
    color: #757575;
    margin-bottom: 0.1vh;
}

.footer-main a{
    color:#a2a2a2;
}

#main-content main div {
    margin-top: 5vh;
}

#main-content {
    background-image: url("src/background.png");
}

.ASCII-download {
    margin: 0.7vh 0;
}

.download-button {
    display: inline-block;
    padding: 2vh 4vh;
    color: #fff;
    background-color: #007BFF;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.download-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.potion, .resize{
    max-width: 50%;
}


@media (max-width: 768px) {
    img, video {
        max-width: 100%;
    }
    .sidebar {
        display: none;
    }
    .menu-but {
        display: block;
    }
    .sidebar.open {
        position: sticky;
        display:block;
        z-index: 10;
        height: auto;
    }
    .wrapper {
        width: 100%;
        padding-left: 0;
    }
    #main-content {
        margin: 1vh;
    }
    .main-img {
        width: 100%;
    }
    .potion, .resize {
        max-width: 100%;
    }

}